<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test verbose="2" preserve-order="true" name="test">
        <parameter name="Browser" value="chrome"></parameter>
        <classes>
            <class name="testcase.WikiAdvancedSearchTest">
                <methods>
                    <include name="testArticleInWikiAdvancedSearchBar"/>
                    <include name="testWikiAdvancedSearchWithPageText"/>
                    <include name="testSearchInFunctionInWikiSearch"/>
                    <include name="testMainPageLink"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>